{% extends "base.html" %}
{% block title %} Courses - Logic Lab{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all_courses.css') }}">
{% endblock %}

{% block content %}
    <section class="courses-hero">
        <div class="container">
            <h1 data-aos="fade-right">Բոլոր <span class="highlight">Դասընթացները</span></h1>
            <p data-aos="fade-right" data-aos-delay="100">Ընտրեք ձեզ հետաքրքրող դասընթացը և սկսեք ձեր ուսումնական
                ճանապարհորդությունը</p>
        </div>
    </section>

    <section id="courses" class="all-courses-section">
        <div class="container">
            <div class="courses-grid">
                {% for course_id, course in courses.items() %}
                {% if course.is_active %}
                <div class="course-card">
                    <a href="{{ url_for('course_details', course_id=course_id) }}" class="course-card-link"
                        data-aos="fade-up" data-aos-delay="{{ loop.index * 100 }}">
                        <div class="course-icon">
                            <img src="{{ course.icon_url }}"  class="course-icon" alt="{{ course.title }} Icon">
                        </div>
                        <h3>{{ course.title }}</h3>
                        <a href="{{ course.portfolio }}" target="_blank" class="portfolio-link">Portfolio</a>
                        <div class="course-meta">
                                <div class="meta-item">
                                    <i class="fas fa-calendar-alt"></i>
                                    <span>Մեկնարկ՝ {{ course.start_date }}</span>
                                </div>
                                <div class="meta-item">
                                    <i class="fas fa-clock"></i>
                                    <span>Տևողություն՝ {{ course.duration }}</span>
                                </div>
                                <div class="meta-item">
                                    <div>
                                        <i class="fas fa-user-tie"></i>
                                        <span class="font-semibold">Դասախոս(ներ)՝</span><br>
                                        {% for name in course.instructor %}
                                            <a href="{{ url_for('instructors') }}" style="margin-left: 2em;" class="bg-blue-100 text-blue-800 text-sm font-medium px-2.5 py-0.5 rounded inline-block my-1">
                                                {{ name }}
                                            </a><br>
                                        {% endfor %}
                                    </div>
                                </div>
                        </div>
                        <div class="course-more-info">
                            <a href="{{ url_for('course_details', course_id=course_id) }}" class="more-info">Կարդալ
                                ավելին</a>
                        </div>
                </div>
                </a>
                {% endif %}
                {% endfor %}
            </div>
        </div>
        <button id="back-to-top" class="back-to-top">
            <i class="fas fa-arrow-up"></i>
        </button>
    </section>
{% endblock %}