{% extends "base.html" %}
{% block title %} {{ course.title }} - Logic Lab{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/course.css') }}">
{% endblock %}

{% block content %}
<header class="course-header">
    <div class="container">
        <div class="course-header-content">
            <div class="course-header-text">
                <h1>{{ course.title }}</h1>
                <p>{{ course.short_description }}</p>
                <a href="{{ course.portfolio }}" target="_blank" class="portfolio-link">
                    <i class="fas fa-external-link-alt"></i> Portfolio
                </a>
                <a href="{{ course.curriculum }}" target="_blank" class="portfolio-link">
                    <i class="fas fa-external-link-alt"></i> Ուսումնական ծրագիր
                </a>
            </div>
            <!-- <div class="course-header-image">
                <img src="{{ url_for('static', filename='images/' + course_id + '.jpg') }}"
                    alt="{{ course.title }}">
            </div> -->
        </div>
    </div>
</header>

<section class="course-detail-section">
    <div class="container">
        <div class="course-detail-content">
            <div class="course-highlights">
                <div class="highlight-item">
                    <i class="fas fa-calendar-alt"></i>
                    <p>Մեկնարկը {{ course.start_date }}</p>
                </div>
                <div class="highlight-item">
                    <i class="fas fa-clock"></i>
                    <p>Տևողությունը {{ course.duration }}</p>
                </div>
                <div class="highlight-item">
                    <i class="fas fa-calendar-week"></i>
                    <p>{{ course.schedule }}</p>
                </div>
            </div>

            <div class="course-description">
                {% for chapter in course.chapters %}
                <h4>{{ chapter.title }}</h4>
                <ul>
                    {% for line in chapter.content %}
                    <li><i class="fas fa-check"></i> {{line}}</li>
                    {% endfor %}
                </ul>
                {% if chapter.sections %}
                {% for section in chapter.sections %}
                <h5>{{ section.section_title }}</h5>
                <ul>
                    {% for lesson in section.lessons %}
                    {% for ses_num, ses in lesson.items() %}
                    <li><b>{{ ses_num }}</b> - {{ ses }}</li>
                    {% endfor %}
                    {% endfor %}
                </ul>
                {% endfor %}
                {% endif %}
                {% endfor %}

                <h4>Դասընթացի արժեք՝</h4>
                <ul>
                    <li><i class="fas fa-check"></i> Ամսեկան վճար՝ {{ course.monthly_payment }} դրամ</li>
                    <li><i class="fas fa-check"></i> Դասընթացի ընդհանուր արժեք՝ {{ course.total_payment }} դրամ</li>
                </ul>
            </div>

            <a href="{{ url_for('register', course_id=course_id) }}" class="btn btn-large">
                <i class="fas fa-user-plus"></i> Գրանցվել հիմա
            </a>
        </div>
    </div>
    <button id="back-to-top" class="back-to-top">
        <i class="fas fa-arrow-up"></i>
    </button>
</section>
{% endblock %}