<!DOCTYPE html>
<html lang="hy">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ML և 3DS Max ակադեմիա</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

</head>
<!-- Back to Top Button -->
<button id="back-to-top" class="back-to-top">
    <i class="fas fa-arrow-up"></i>
</button>

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Initialize AOS
        AOS.init({
            duration: 800,
            easing: 'ease-in-out',
            once: true,
            offset: 100,
            delay: 100
        });

        // Hero title underline animation
        const highlights = document.querySelectorAll('.highlight-title');
        setTimeout(() => {
            highlights.forEach(highlight => {
                highlight.style.opacity = 1;
            });
        }, 500);

        // Back to Top Button
        const backToTopButton = document.getElementById('back-to-top');

        // Show/hide button based on scroll position
        window.addEventListener('scroll', () => {
            if (window.pageYOffset > 300) {
                backToTopButton.classList.add('show');
            } else {
                backToTopButton.classList.remove('show');
            }
        });

        // Smooth scroll to top when clicked
        backToTopButton.addEventListener('click', () => {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        });
    });
</script>
</body>

</html>

<body>
    <header>
        <div class="container">
            <nav>
                <ul class="nav-links">
                    <li><a href="#courses">Դասընթացներ</a></li>
                    <li><a href="#about">Մեր մասին</a></li>
                    <li><a href="#contact">Կապ</a></li>
                </ul>
            </nav>
            <div class="hero" data-aos="fade-in">
                <h1>View Box <span class="highlight-title"></span> <span class="highlight-title">&</span> Soul's Of
                    Code</span></h1>
                <p>Միացե՛ք մեր մասնագիտական դասընթացներին, որոնք անցկացնում են ոլորտի փորձագետները</p>
                <a href="#courses" class="btn btn-pulse">Դիտել դասընթացները</a>
            </div>
        </div>
    </header>

    <section id="courses" class="courses-section">
        <div class="container">
            <h2 data-aos="fade-up">Մեր <span class="highlight">Դասընթացները</span></h2>
            <div class="course-grid">
                {% for course_id, course in courses.items() %}
                {% if course.is_active == True %}

                <div class="course-card" data-aos="fade-up" data-aos-delay="{{ loop.index * 100 }}">
                    <div class="course-icon">
                        <img src="{{ url_for('static', filename='images/ml_icon.png') if course_id == 'machine_learning' else url_for('static', filename='images/cube_icon.png') }}"
                            class="icon-img" alt="Course Icon">


                    </div>
                    <h3>{{ course.title }}</h3>
                    <p>{{ course.description }}</p>
                    <div class="course-details">
                        <p><i class="fas fa-calendar-alt"></i> Մեկնարկը՝ {{ course.start_date }}</p>
                        <p><i class="fas fa-clock"></i> Տևողությունը՝ {{ course.duration }}</p>
                        <p><i class="fas fa-calendar-week"></i> Ժամանակացույց՝ {{ course.schedule }}</p>
                    </div>
                    <a href="{{ url_for('course_details', course_id=course_id) }}" class="btn">Իմանալ ավելին</a>
                </div>
                {% endif %}

                {% endfor %}`
            </div>
        </div>
    </section>

    <section id="about" class="about-section">
        <section class="lecturers-section">
            <div class="lecturers-wrapper">
                <div class="lecturer-cards-container">
                    {% for instructor_id, instructor in instructors.items() %}
                    <div class="lecturer-card" data-aos="fade-up">
                        <img src="{{ url_for('static', filename='images/' ~ instructor.photo) }}" 
                             alt="{{ instructor.specialization }}" 
                             class="lecturer-image">
                        <div class="lecturer-info">
                            <h3>{{ instructor.firstName }} {{ instructor.lastName }}</h3>
                            <h4>{{ instructor.specialization }}</h4>
                            <p>{{ instructor.profession }}</p>
                            <ul>
                                <li><i class="fas fa-check-circle"></i> {{ instructor.workExperience }}+ տարվա փորձ</li>
                                <li><i class="fas fa-check-circle"></i> Կրթություն: {{ instructor.education.degree }} | {{ instructor.education.fieldOfStudy }} | {{ instructor.education.institution }}</li>
                                <li><i class="fas fa-check-circle"></i> Աշխատանքային փորձ</li>
                                <div style="padding-left: 20px;">
                                    <ul>
                                        {% for company in instructor.companies %}
                                        <li class="company-item"><i class="fas fa-building"></i> {{ company.company }} | {{ company.type }} | {{ company.role }}</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                
                                <li><i class="fas fa-check-circle"></i> Հմտություններ: {{ instructor.skills|join(', ') }}</li>
                            </ul>
                            
                            <div class="lecturer-contacts">
                                <a href="tel:{{ instructor.contacts.phone }}" class="contact-link phone-link">
                                    <i class="fas fa-phone"></i> Անձնական
                                </a>
                                <a href="{{ instructor.contacts.linkedin }}" target="_blank" class="contact-link">
                                    <i class="fab fa-linkedin"></i> LinkedIn
                                </a>
                                <a href="{{ instructor.contacts.web }}" target="_blank" class="contact-link">
                                    <i class="fas fa-globe"></i> WEB
                                </a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </section>


    <section id="contact" class="contact-section">
        <div class="container">
            <h2 data-aos="fade-up"><span class="highlight">Կապվեք</span> մեզ հետ</h2>
            <div class="contact-grid">
                <div class="contact-info" data-aos="fade-right">
                    <h3>Կոնտակտային տվյալներ</h3>
                    <p><i class="fas fa-envelope"></i> manukyandranik@gmail.com</p>
                    <p><i class="fas fa-phone"></i> +374 94 752662</p>
                    <p><i class="fas fa-phone"></i> +374 98 367419</p>
                    <p><i class="fas fa-map-marker-alt"></i> Վանաձոր, Հայաստան</p>
                </div>
                <div class="contact-form" data-aos="fade-left">
                    <h3>Ուղարկե՛ք հաղորդագրություն</h3>
                    <form method="POST" action="{{ url_for('contact') }}">
                        <input type="text" name="name" placeholder="Ձեր անունը" required>
                        <input type="email" name="email" placeholder="Ձեր էլ․ փոստը" required>
                        <textarea name="message" placeholder="Ձեր հաղորդագրությունը" required></textarea>
                        <button type="submit" class="btn btn-pulse">Ուղարկել հաղորդագրությունը</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Initialize AOS
            AOS.init({
                duration: 800,
                easing: 'ease-in-out',
                once: true,
                offset: 100,
                delay: 100
            });

            // Hero title underline animation
            const highlights = document.querySelectorAll('.highlight-title');
            setTimeout(() => {
                highlights.forEach(highlight => {
                    highlight.style.opacity = 1;
                });
            }, 500);
        });
    </script>
</body>

</html>