{% extends "base.html" %}
{% block title %} Register - Logic Lab{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/register.css') }}">
{% endblock %}

{% block content %}
    <header>
        <div class="container">
            <div class="course-header-content">
                <div class="course-header-text">
                    <h1>{{ course.title }}</h1>
                    <p>Լրացրե՛ք ձեր տվյալները դասընթացին գրանցվելու համար</p>
                </div>
            </div>
        </div>
    </header>

    <section class="register-section">
        <div class="container">
            <div class="register-form-container">
                <h1>Գրանցում՝ <span class="highlight">{{ course.title }}</span> դասընթացի համար</h1>

                <p class="course-info">
                    <i class="fas fa-calendar-alt"></i> Մեկնարկը՝ {{ course.start_date }}
                    <i class="fas fa-clock"></i> {{ course.duration }}
                    <i class="fas fa-calendar-week"></i> {{ course.schedule }}
                </p>

                <!-- {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %} -->

                <form method="POST" action="{{ url_for('register', course_id=course_id) }}">
                    <div class="form-group">
                        <label for="full_name"><i class="fas fa-user"></i> Անուն Ազգանուն</label>
                        <input type="text" id="full_name" name="full_name"
                            placeholder="Մուտքագրեք ձեր անունը և ազգանունը" required>
                    </div>
                    <div class="form-group">
                        <label for="age"><i class="fas fa-age"></i> Տարիք</label>
                        <input type="number" id="age" name="age" placeholder="Ձեր տարիքը" min="0" step="1" required>
                    </div>
                    <div class="form-group">
                        <label for="class"><i class="fas fa-class"></i> Կրթություն</label>
                        <input type="text" id="class" name="class" placeholder="Ուսումնական հաստատություն/Դասարան"
                            required>
                    </div>
                    <div class="form-group modern-radio">
                        <label class="radio-label"><i class="fas fa-desktop me-2"></i>Համակարգչի առկայություն</label>
                        <div class="radio-option">
                          <input type="radio" id="personal" name="computer" value="personal" required>
                          <label for="personal">Ունեմ համակարգիչ</label>
                        </div>
                        <div class="radio-option">
                          <input type="radio" id="logiclab" name="computer" value="logiclab">
                          <label for="logiclab">Չունեմ համակարգիչ</label>
                        </div>
                      </div>
                    <div class="form-group">
                        <label for="convenient_dates"><i class="fas fa-calendar-check"></i> Նշումներ</label>
                        <input type="text" id="convenient_dates" name="convenient_dates"
                            placeholder="Մուտքագրեք ձեզ հարմար շաբաթվա օրերը" required>
                    </div>
                    <div class="form-group">
                        <label for="email"><i class="fas fa-envelope"></i> Էլ. հասցե</label>
                        <input type="email" id="email" name="email" placeholder="Մուտքագրեք ձեր էլ. փոստը" required>
                    </div>
                    <div class="form-group">
                        <label for="phone"><i class="fas fa-phone"></i> Հեռախոսահամար</label>
                        <input type="tel" id="phone" name="phone" placeholder="0XXXXXXXX" pattern="0\d{2}\d{6}"
                            required>
                    </div>

                    <button type="submit" class="btn btn-large">
                        <i class="fas fa-paper-plane"></i> Ուղարկել հայտը
                    </button>
                </form>
            </div>
        </div>
        <button id="back-to-top" class="back-to-top">
            <i class="fas fa-arrow-up"></i>
        </button>
    </section>
{% endblock %}